<ion-item>
  <ion-label position="floating">Nombre Certificado</ion-label>
  <ion-input [(ngModel)]="certificado.nombre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Fecha de Obtención</ion-label>
  <ion-input type="date" [(ngModel)]="certificado.fechaObtencion"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Certificado con Vencimiento</ion-label>
  <ion-checkbox class="certificadovencimiento" [(ngModel)]="certificado.conVencimiento" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
</ion-item>

<ion-item *ngIf="certificado.conVencimiento">
  <ion-label position="floating">Fecha de Vencimiento</ion-label>
  <ion-input type="date" [(ngModel)]="certificado.fechaVencimiento"></ion-input>
</ion-item>

<ion-button (click)="guardarDatos()">Guardar</ion-button>



