<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="datos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="informacion">
      <ion-label>Información</ion-label>
    </ion-segment-button>
    <ion-segment-button value="resena">
      <ion-label>Reseñas</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="selectedSegment === 'datos'">
    <app-mis-datos></app-mis-datos>
  </div>
  <div *ngIf="selectedSegment === 'informacion'">
    <app-informacion></app-informacion>
  </div>
  <div *ngIf="selectedSegment === 'resena'">
    <app-resena></app-resena>
  </div>
</ion-content>

  
