<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="experiencia">
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="datos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <div *ngIf="selectedSegment === 'experiencia'">
      <app-experiencia-laboral></app-experiencia-laboral>
    </div>
    <div *ngIf="selectedSegment === 'certificaciones'">
      <app-certificaciones></app-certificaciones>
    </div>
    <div *ngIf="selectedSegment === 'datos'">
      <app-mis-datos></app-mis-datos>
    </div>
  </ion-content>
  
